.user-info-container {
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Ensures full vertical height for centering */
    flex-direction: column;  /* Centers both the heading and the card */
  }
  
  .user-info-container h2 {
    text-align: center;
  }
  
  .user-info-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 0 auto;  /* This will horizontally center the card */
  }
  
  .user-info-card p {
    margin: 10px 0;
  }
  
  .user-info-card strong {
    color: #333;
  }
  
  /* Back to Dashboard button */
  .back-to-dashboard-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #2f8d94;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .back-to-dashboard-button:hover {
    background-color: #0056b3;
  }
  